src/main/resources/META-INF/dbconfig.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<xsd:schema xmlns="http://test.com/util/schema/db" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            targetNamespace="http://test.com/util/schema/db" elementFormDefault="qualified"
            attributeFormDefault="unqualified">
    <xsd:import namespace="http://www.springframework.org/schema/beans"/>
    <xsd:element name="db">
        <xsd:annotation>
            <xsd:documentation><![CDATA[QConfig node]]></xsd:documentation>
        </xsd:annotation>

        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:ID"/>
            <xsd:attribute name="url" type="xsd:string"/>
            <xsd:attribute name="username" type="xsd:string"/>
            <xsd:attribute name="password" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>